# dependencies
*node_modules
/.pnp
.pnp.js

# testing
/coverage
.old/
.ignore*

# production
build/

# misc
.DS_Store
npm-debug.log*

*.env
*.env.*
.vscode/

images/_components/
src/media/_components/
*.psd
*.ai
*.db

public/analytics.js