::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.8rem;
    background: $black-2;

    &-track, &-corner { background: rgba($black-2, 0.4); }

    &-thumb {
        border-radius: 0.8rem;
        background: $grey-1;

        &:hover { background: $grey-2; }
    }
}