.tab {
    &-buttons {
        align-self: flex-start;
        box-sizing: border-box;

        &.column {
            border-right: 1px solid $black-2;
            height: 100%;
        }

        &.row {
            justify-content: center;
            border-bottom: 2px solid $black-2;
            width: 100%;
        }
    }

    &-button {
        padding: 1em;
        border: 3px solid transparent;
        font-weight: 400;
        color: $white-3;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover { background-color: $black-3; }

        @media #{$media-500-wh} {
            padding: 0.5em;
            max-width: 4em;
        }

        &.active {
            @media #{$media-500-wh} { max-width: fit-content; }

            .column > & { border-left-color: $blue-2; }

            .row > & { border-bottom-color: $blue-2; }
        }
    }

    &-content {
        align-self: flex-start;
        width: inherit;
    }
}