
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    overflow: auto;

    .elkonin-boxes {
        $ratio: 37.2924 / 7.8585;
        $max-width: 32rem;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: $max-width;
        height: $max-width / $ratio;
        fill: var(--accent-color);
        z-index: 0;

        @media #{$media-500-wh} { margin: auto 0 auto 5rem; }
    }
}

.tilebar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 18%;
    background-color: var(--foreground-color);
    z-index: 5;

    @media #{$media-500-wh} { height: 16%; }

    .tile-container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        background-color: var(--foreground-color);
        box-sizing: border-box;

        .tiles {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-self: flex-start;
            max-width: 90rem;
            max-height: 5.2rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--background-color);
            overflow-y: auto;
            box-sizing: border-box;

            &:not(:last-of-type) { margin-right: 0.5rem; }
        }
    }
}

.tile {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--tile-background-color);
    color: var(--tile-text-color);
    box-shadow:
        inset 0 0 2px 0 rgba(black, 0.2),
        inset 0 0 3px 0 rgba(black, 0.7),
        inset 0 0 3px 5px rgba(black, 0.15),
        2px 2px 4px 0 rgba(black, 0.8);
    font-size: 1.6em;
    cursor: pointer;
    user-select: none;
    z-index: 3;

    &.draggable { position: absolute; }

    &.dragging { opacity: 0; }

    &.source {
        margin: 0.1rem;
        opacity: 1;
    }

    &.elkonin {
        &-red { background-color: $red-2 !important; }
        &-orange { background-color: $orange-2 !important; }
        &-yellow { background-color: $yellow-2 !important; }
        &-green { background-color: $green-2 !important; }
        &-blue { background-color: $blue-2 !important; }
        &-purple { background-color: $purple-2 !important; }
    }

    &.heart {
        background-color: $white-3;

        &::before {
            content: $symbol-heart;
            color: $red-2;
            font-size: 1.6em;
        }
    }

    .erase-mode &:hover {
        &::before, &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: inherit;
        }

        &::before { background-color: rgba($red-1, 0.7); }

        &::after {
            background: url("../../media/eraser.svg") center / 40% no-repeat;
            filter: invert(1);
        }
    }
}